# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and aqcuire TLS certificates
DOMAIN=localhost
# To test the local Traefik config
# DOMAIN=localhost.tiangolo.com

# Used by the backend to generate links in emails to the frontend
FRONTEND_HOST=http://localhost:5173
# In staging and production, set this env var to the frontend host, e.g.
# FRONTEND_HOST=https://dashboard.example.com

# Environment: local, production
ENVIRONMENT=local

PROJECT_NAME="Monitoring Sampah"

# Backend
BACKEND_CORS_ORIGINS="http://localhost:8000"
SECRET_KEY=changethis


# MySQL Database
MYSQL_SERVER=localhost
MYSQL_PORT=3306
MYSQL_DB=rivertrash
MYSQL_USER=your_db_user_here
MYSQL_PASSWORD=your_db_password_here